	<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="/assets/logo.png" alt=""></a>
			</figure>
			<ul class="we-create animated fadeInUp delay-1s">
        <h4>Quel est ton profil ?</h4>
			</ul>
      <a class="link animated fadeInUp delay-1s servicelink" href="classic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Classique&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <a class="link animated fadeInUp delay-1s servicelink" href="griezmann">Footballeur en reconversion</a>
      <a class="link animated fadeInUp delay-1s servicelink" href="gotham">Habitant de Gotham City</a>
		</div>
	</header>
	<!--header-end-->