<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="#header">Accueil</a></li>
				<li><a href="#programme">Programme</a></li>
				<li><a href="#villes">Villes</a></li>
				<li class="small-logo"><a href="#header"><img width="75" height="75" src="/assets/small-logo.png" alt=""></a></li>
				<li><a href="#team">Prix</a></li>
				<li><a href="#client">Témoignage</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->