	<section class="main-section" id="programme">
		<!--main-section-start-->
		<div class="container">
			<h2>Programme</h2>
			<h6>THP est une formation qui va t'adier à changer de vie de méchant ! En 3 mois, à plein temps, vous apportera des connaissances actionnables pour vous permettre de voir plus loin</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-paw"></i>
						</div>
						<div class="service-list-col2">
							<h3>La communauté comme boss</h3>
							<p>800 méchants sont prêts à vous soutenir !</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-gear"></i>
						</div>
						<div class="service-list-col2">
							<h3>Une caution ?</h3>
							<p>Tu peux voler une banque pour payer la caution de 314.15€ et la rendre à la banque à la fin si tu le souhaites.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-apple"></i>
						</div>
						<div class="service-list-col2">
							<h3>Où sommes-nous ?</h3>
							<p>Partout à Gotham city. Nous te proposons des lieux sympas et choux plus bas pour travailler avec ton équipe !</p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img  src="/assets/batman1.png" alt="">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end-->