<section class="main-section" id="programme">
		<!--main-section-start-->
		<div class="container">
			<h2> Beau est le code fait avec THP</h2>
			<h6>Pour nous l'éducation est un bien beaucoup trop important pour être champion du monde ;)</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-paw"></i>
						</div>
						<div class="service-list-col2">
							<h3>On est championnes du monde mais..!</h3>
							<p>Grizman et Pogba en train d'apprendre le code </p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-gear"></i>
						</div>
						<div class="service-list-col2">
							<h3>la vie c'est pas que le football</h3>
							<p>The haching project ça nous facilite de trouvé un autre chemin plein de pertunité.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-apple"></i>
						</div>
						<div class="service-list-col2">
							<h3>pourquoi the hacking project?</h3>
							<p>Grizman répond: "la méthodologie de travail que nous avons acquis lors de notre formation m'a permis d'intégrer des techniques de recherches et d'apprentissage plus utile et efficace que celles que j'avais par le passé." </p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="/assets/grizman.jpg" alt="">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end--