<section class="main-section alabaster">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="/assets/gripogba.jpg" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2>l'avis des autres joueurs</h2>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-magic"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>j'ai rien a perdre</h3>
							<p>Apprendre à programmer permet d’avoir les bases pour comprendre la façon dont les ordinateurs fonctionnent,ce qu'il pense les pluparts des joueurs!</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-gift"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>J'ai pas le temps  </h3>
							<p>On sait c'est important mais on a d'autres projets..... </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>cela ne me convient pas</h3>
							<p>J'ai fait beaucoup de formations différentes, mais comme développer c'est pas mon délire.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-08s">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-08s">
							<h3>ni froid, ni chaud</h3>
							<p>Une partie de joueurs ils ont accepté l'idée; ils trouvent ça différent pour une reconversion </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--main-section alabaster-end-->