<section class="main-section client-part" id="client">
		<!--main-section client-part-start-->
		<div class="container">
			<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
			<div class="row">
				<div class="col-lg-12">
					<p class="client-part-haead wow fadeInDown delay-05">Témoignages</p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="team-leader-box-gotham">
			<div class="team-leader-block clearfix">
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-03s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="/assets/team-pic1.jpg" alt="">
					</div>
					<h3 class="wow fadeInDown delay-03s" style="color:white;">Catwoman</h3>
					<p class="wow fadeInDown delay-03s" style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader  wow fadeInDown delay-06s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="/assets/team-pic2.jpg" alt="">
					</div>
					<h3 class="wow fadeInDown delay-06s" style="color:white;">Le Joker</h3>
					<p class="wow fadeInDown delay-06s" style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-09s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="/assets/team-pic3.jpg" alt="">
					</div>
					<h3 class="wow fadeInDown delay-09s" style="color:white;">Pingouin</h3>
					<p class="wow fadeInDown delay-09s" style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
				</div>
			</div>
			</div>
		</div>
</section>


	<div class="c-logo-part-gotham" class="custombar">
		<!--c-logo-part-start-->
		<div class="container">
			<ul>
				<li><a href="#"><img width="130" height="110" src="/assets/c-liogo1.png" alt=""></a></li>
				<li><a href="#"><img width="130" height="110"  src="/assets/c-liogo2.png" alt=""></a></li>
				<li><a href="#"><img width="130" height="110"  src="/assets/liogo3.png" alt=""></a></li>
				<li><a href="#"><img width="130" height="110"  src="/assets/liogo4.png" alt=""></a></li>
				<li><a href="#"><img width="130" height="110"  src="/assets/c-liogo5.png" alt=""></a></li>
			</ul>
		</div>
	</div>