		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="/assets/logo.png" alt=""></a>
			</figure>
			<ul class="we-create animated fadeInUp delay-1s">
        <h4>Bravo ! Tu es bien inscrit à la newsletter !</h4>
			</ul>
		</div>